# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Ignore the virtual environment folder
venv/
.venv/
env/

# Ignore Python bytecode and cache folders
__pycache__/
*.pyc
*.pyo
*.pyd
